{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<h1>Product heading: {{ product.name }}</h1>
<h3>Product description: {{ product.name }}</h3>
<h3>Product size: {{ product.size }}</h3>

{% endblock %}
